body{
    background-color: rgba(240,237,237);
    background-image: url("pj2.webp");

}
.body_index_bg{
    background-color: brown;
}
h1{
    text-align: left;
    color:rgb(8, 253, 171);
    text-decoration: none;
    text-transform: uppercase;
    font-style:normal;
    font-weight: bold;
}
table{
    border:1px solid black;
    border-collapse: collapse;
    width:70%

}
td{
    border: 1px solid black;
    padding:5px;
    text-align:left;

}
th{
    background-color: black;
    color:azure;
    border:1px;
    text-align:left;
}
tr:nth-child(odd){
    background-color:blanchedalmond;


}
tr:hover{
    background-color:burlywood;
}
.contact_form label{
font-size: 1.8em;
}
input [type=text],textarea{
    width: 60%;
padding: 12px 20px;
font-size:1.6em;
border-radius:4px;
border:2px solid #424242;
}
input[type=submit]{
    width:40%;
    padding: 12px 20px;
font-size:1.6em;
border-radius:4px;
background-color:blue;

}
.row::after{
    content: " ";
    display: block;
    clear: both;

}
.main_content{
    float:left;
    width: 60%;
    padding: 20px;
}
.side_content{
    float:right;
    width: 40%;
    padding: 20px;
}